.task {
  .edit-task {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    opacity: 0.6;
    
    &:hover {
      opacity: 1;
    }
  }

  .task-property {
    & + .task-property {
      border-top: 1px solid var(--surface-100);
    }
  }
}
